body{
    margin: 0;
    background-color: #e6e6e6;
}.kiri{
    background-color: #FFB740;
 
}.kanan{
    background-color: #FDE49C;
    font-family: fira sans;
    font-size: 110px;
    box-sizing: border-box;
    padding: 50px;
    font-weight: bold;
 
}.kiri, .kanan, .kanan-bwh{
    width: 50%;
    height: 600px;
    float: left;
}.kiri .gb img{
 
    width: 200px;
    height: 300px;
    float: left;
transition: 0.1s;

margin-bottom: 30px;
}.gb{
    display: block;
    height: 500px;
    width: 50%;
    margin: 120px auto;
}  
.kiri .gb img:hover{
    box-shadow: 20px 20px #f7ff67;
    cursor: pointer;
}@font-face {
    font-family: fira sans;
    src: url(FiraSans-Regular.ttf);
}.utama1::after{
    content: "";
    clear: both;
    display: table;
}
.atas{
    width: 100%;
    height: 100px;
    background-color: black;
}.pembatas1{
    width: 100%;
    height: 100px;
    background-color: #DF711B;
}.a{
    background-color: #64C9CF;
    
}.judul-cv-1{
    font-family: 'fira sans';
    text-align: center;
    font-size: 58px;
}.kanan-bwh{
    background-color: #FDE49C;
    font-family: fira sans;
    
    box-sizing: border-box;
    padding: 20px;
    font-weight: bold;
 
}
.tabel{
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
} .tabel tr:nth-child(even){background-color: #f2f2f2}
.tabel td{
    text-align: left;
    padding: 20px;
}.tabel tr:hover{
    cursor: pointer;
    padding: 5px;
}